.top.ui.borderless.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
  margin-top: 0px;
  text: red;
}


.ui.borderless.menu {
  box-shadow: none;
  border: none;
}
p{
  color: red;
}

.ui.vertical.text.menu{
  color: black;
}
.active.item{
  margin-top: 0;
  margin-bottom: 0;
}

.ui.three.column.grid.container{
  margin-top: 20px;
}

.middleImg{
  margin-top: 20px;
  margin-bottom: 30px;
}